@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Poilsiaviečių sąrašas</h1>
<h4>Pasirinkite norimą laikotarpį:</h4>
<hr />

<form method="get">
    <label for="dateFrom">Data nuo:</label>
    <input type="date" id="dateFrom" name="dateFrom" value="@Request.Query["dateFrom"]" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
    <label for="dateTill">Data iki:</label>
    <input type="date" id="dateTill" name="dateTill" value="@Request.Query["dateTill"]" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
    <input type="submit" value="Ieškoti">
</form>

<hr />
@if (Model.Poilsiaviete.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Poilsiaviete[0].Pavadinimas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poilsiaviete[0].NaktiesKaina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poilsiaviete[0].Reitingas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poilsiaviete[0].Tipas)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Poilsiaviete)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pavadinimas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NaktiesKaina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reitingas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipasNavigation.Name)
                    </td>
                    <td>
                        <a asp-page="./Redagavimas" asp-route-id="@item.IdPoilsiaviete">Redaguoti</a> |
                        <a asp-page="./Perziura" asp-route-id="@item.IdPoilsiaviete">Peržiūrėti daugiau</a> |
                        <a asp-page="./Istrinimas" asp-route-id="@item.IdPoilsiaviete">Ištrinti</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}