@page
@model DetailsModel

@{
    ViewData["Title"] = "Išsami informacija";
}

<h1>Išsami informacija</h1>

<div>
    <h4>
            @Html.DisplayFor(model => model.Poilsiaviete.Pavadinimas)
    </h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.NaktiesKaina)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.NaktiesKaina)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.Adresas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.Adresas)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.PastoKodas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.PastoKodas)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.MiegamujuSkaicius)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.MiegamujuSkaicius)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.VoniosKambariuSk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.VoniosKambariuSk)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.Taisykles)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.Taisykles)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.Reitingas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.Reitingas)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.Tipas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.TipasNavigation.Name)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Poilsiaviete.FkKodas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Poilsiaviete.FkKodasNavigation.Pavadinimas)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <h4>Siūlomi patogumai</h4>
                <hr />
                @if(Model.Poilsiaviete.PoilsiavieciuPatogumai.Count() > 0 )
                {
                    @foreach(Models.Kategorijo kategorija in Model.Kategorijos)
                    {
                        @if (Model.Poilsiaviete.PoilsiavieciuPatogumai.Any(p => p.FkIdPatogumasNavigation.FkIdKategorija == kategorija.IdKategorija))
                        {
                            <b>@Html.DisplayFor(modelKategorija => kategorija.Pavadinimas)</b>
                            <br />
                            @foreach (Models.PoilsiavieciuPatogumai patogumas in Model.Poilsiaviete.PoilsiavieciuPatogumai)
                            {
                                @if (patogumas.FkIdPatogumasNavigation.FkIdKategorija == kategorija.IdKategorija)
                                {
                                    @Html.DisplayFor(modelPatogumas => patogumas.FkIdPatogumasNavigation.Pavadinimas)
                                    <a>| Kiekis:</a>  @Html.DisplayFor(modelPatogumas => patogumas.Kiekis)
                                    @if(patogumas.FkIdPatogumasNavigation.Paskirtis != null)
                                    {
                                        <a>|</a> @Html.DisplayFor(modelPatogumas => patogumas.FkIdPatogumasNavigation.Paskirtis)
                                    }
                                    <br />
                                }
                            }
                            <hr />
                        }
                    }
                }
                else
                {
                    <h6>Patogumų nėra</h6> <hr />
                }
                <br />
                <br />
                <h4>Stovėjimo aikštelės</h4>
                <hr />
                @if (Model.Poilsiaviete.AutomobiliuStovejimoAiksteles.Count() > 0)
                {
                    @foreach (Models.AutomobiliuStovejimoAikstele aikstele in Model.Poilsiaviete.AutomobiliuStovejimoAiksteles)
                    {
                        @Html.DisplayFor(modelAikstele => aikstele.Pavadinimas) <br />
                        <a> Vietų skaičius:</a>  @Html.DisplayFor(modelAikstele => aikstele.VietuSk)
                        <br />
                        <a> Vietos aprašas:</a>  @Html.DisplayFor(modelAikstele => aikstele.VietosAprasymas) <br />
                        <a> Adresas:</a>  @Html.DisplayFor(modelAikstele => aikstele.Adresas) <br />
                        <a> Ar mokama:</a> 
                        @if(aikstele.Apmokama == true)
                        {
                            <a> taip</a> <br />
                        }
                        else
                        {
                            <a> ne</a> <br />
                        }
                        <br />
                        <h5>Stovėjimo aikštelės savininkas</h5>
                        <hr />
                        @Html.DisplayFor(modelAikstele => aikstele.FkIdAutomobiliuAikstelesSavininkasNavigation.Vardas) <a> </a>
                        @Html.DisplayFor(modelAikstele => aikstele.FkIdAutomobiliuAikstelesSavininkasNavigation.Pavarde) <br />
                        @Html.DisplayFor(modelAikstele => aikstele.FkIdAutomobiliuAikstelesSavininkasNavigation.TelNumeris) <br />
                        @Html.DisplayFor(modelAikstele => aikstele.FkIdAutomobiliuAikstelesSavininkasNavigation.ElPastas) <br />
                    }
                }
                else
                {
                    <h6>Stovėjimo aikštelių nėra</h6>
                }
            </div>
        </div> 
    </div>
</div>
<div>
    <a asp-page-handler="Rezervuoti">Rezervuoti</a> |
    <a asp-page="./Index" asp-route-dateFrom="@TempData["DateFrom"]" asp-route-dateTill="@TempData["DateTill"]">Grįžti į sąrašą</a>
</div>
