@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poilsiaviete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.Pavadinimas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.Pavadinimas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.NaktiesKaina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.NaktiesKaina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.Adresas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.Adresas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.PastoKodas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.PastoKodas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.MiegamujuSkaicius)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.MiegamujuSkaicius)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.VoniosKambariuSk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.VoniosKambariuSk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.Taisykles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.Taisykles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.Reitingas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.Reitingas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.Tipas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.TipasNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poilsiaviete.FkKodas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poilsiaviete.FkKodasNavigation.Pavadinimas)
        </dd>
    </dl>
</div>
<div>
    <a asp-page-handler="Rezervuoti">Rezervuoti</a> |
    <a asp-page="./Index" asp-route-dateFrom="@TempData["DateFrom"]" asp-route-dateTill="@TempData["DateTill"]">Grįžti į sąrašą</a>
</div>
